@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); 
@tailwind base; 
@tailwind components; 
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;

    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 13 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 31 100% 50%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 36%;

    --accent: 0 0% 95%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;

    --ring: 13 100% 50%;
    --radius: 0.75rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 93%;

    --card: 0 0% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 13 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 31 100% 50%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 1% 26%;
    --muted-foreground: 0 0% 71%;

    --accent: 0 0% 26%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 1% 26%;
    --input: 0 1% 26%;

    --ring: 13 100% 50%;
  }

  html {
    font-family: var(--font-sans);
  }
}

