[project]
name = "src"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "asyncpg>=0.30.0",
    "boto3>=1.41.3",
    "chainlit>=2.9.0",
    "langchain-milvus>=0.3.0",
    "openai>=2.7.1",
]
